/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
    
.section-all {
    display: grid;
    grid-template-columns: 1fr;

}

.ion-icon {
    top: 49%;
    left: 68%;
}

.btn {
    margin-bottom: 4rem;
}

    }